@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.scroll-animation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.scroll-animation.visible {
    opacity: 1;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

.slide-in {
    animation: slideIn 0.5s forwards;
}